:root {
    --green: #00754a;
    --black: #000;
    --white: #fff;
    --hover-black: rgba(0, 0, 0, .7);
    --hover-white: rgba(0, 0, 0, .06);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

nav > .left-options {
    display: flex;
    padding: 25px;
}

nav > .left-options > .starbucks-logo {
    width: 51px;
    height: 51px;
}

nav > .left-options > ul > li {
    display: inline;
    padding: 10px;
}

nav > .left-options > ul > li > a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 900;
}

nav > .left-options > ul > li > a:hover {
    color: var(--green);
}

nav > .right-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

nav > .right-options > .map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 900;
    margin-right: 35px;
}

nav > .right-options > .map-button > svg {
    width: 24px;
    margin-right: 10px;
}

nav > .right-options > .map-button:hover {
    color: var(--green);
}

nav > .right-options > .sign-button {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 900;
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 10px;
    margin-right: 20px;
}

nav > .right-options > .sign-button:hover {
    background-color: var(--hover-white);
}

nav > .right-options > .join-button {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    font-weight: 900;
    border-radius: 50px;
    padding: 10px;
}

nav > .right-options > .join-button:hover {
    background-color: var(--hover-black);
}